clean/
cover.*
moe.jade.oct2pus.listen
*.flac
*.ogg
*.mp3
.temp_cover
data/icons/*/*.png
build/
bin/
debian/build/
debian/.debhelper
debian/moe.jade.oct2pus.listen
debian/debhelper-build-stamp
debian/files
debian/moe.jade.oct2pus.listen.substvars